/* Colors */
@color-a: #323232; // color <a>
@color-a-hover: #656565; // color <a> hover
@color-white: #ffffff; // white
@color-black: #323232; // black
@color-button: #3b8a4a; // color of button
@color-button-hover: #32a047; // color of hover button
@color-form: #ffffff; // color of form

/* Backgrounds */
@bg-navbar: #404040; // background navbar
@bg-item-review: #e5e5e5; // backgound item review
@bg-pdf: #e5e5e5; // background pdf

/* Variables */
@height_copyright_content: 32px; // height of copyright and all content
@shadow_button: 0px 1px 3px rgba(0, 0, 0, 0.2);

/* Fonts */
@open_sans: 'Open Sans', sans-serif;

/* Responsive */
@tablet: ~'(min-width: 768px)'; // tablet
@desctop: ~'(min-width: 992px)'; // desctop
@wide: ~'(min-width: 1200px)'; // desctop

/* Mixins */
// Size
.size(@width: auto, @height: auto) {
  width: @width;
  height: @height;
}
// Transition
.transition(@property: all 1s) {
  -webkit-transition: @property;
  -moz-transition: @property;
  -o-transition: @property;
  transition: @property;
}
// Box shadow
.shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
}
// Transform
.transform(@property) {
  -moz-transform: @property;
  -ms-transform: @property;
  -webkit-transform: @property;
  -o-transform: @property;
  transform: @property;
}